---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?category=gamebygame&client_code=pwhl&feed=modulekit&key=446521baf8c38984&player_id=REPLACE_WITH_CASSETTE_PLAYER_ID&season_id=9&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"SiteKit":{"Parameters":{"category":"gamebygame","client_code":"pwhl","feed":"modulekit","key":"446521baf8c38984","player_id":"REPLACE_WITH_CASSETTE_PLAYER_ID","season_id":9,"view":"player","league_id":"1"},"Player":{"error":"missing
        param person_id\/player_id"},"Copyright":{"required_copyright":"Official statistics
        provided by Professional Women''s Hockey League","required_link":"http:\/\/leaguestat.com","powered_by":"Powered
        by HockeyTech.com","powered_by_url":"http:\/\/hockeytech.com"}}}'
  recorded_at: Wed, 06 May 2026 07:48:09 GMT
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?category=gamebygame&client_code=pwhl&feed=modulekit&key=446521baf8c38984&player_id=31&season_id=9&view=player
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"SiteKit":{"Parameters":{"category":"gamebygame","client_code":"pwhl","feed":"modulekit","key":"446521baf8c38984","player_id":"31","season_id":9,"view":"player","league_id":"1"},"Player":{"seasons_played":[{"season_id":9,"season_name":"2026
        Playoffs"},{"season_id":8,"season_name":"2025-26 Regular Season"},{"season_id":7,"season_name":"2025-26
        Preseason"},{"season_id":6,"season_name":"2025 Playoffs"},{"season_id":5,"season_name":"2024-25
        Regular Season"},{"season_id":4,"season_name":"2024-25 Preseason"},{"season_id":3,"season_name":"2024
        Playoffs"},{"season_id":1,"season_name":"2024 Regular Season"},{"season_id":2,"season_name":"2024
        Preseason"}],"games":[{"gMonth":"May","id":"340","home_team":"3","visiting_team":"2","date_played":"2026-05-02","home":"1","shots":"0","goalie":"0","home_team_code":"MTL","home_team_name":"Montr\u00e9al
        Victoire","home_division":"PWHL","visiting_team_code":"MIN","visiting_team_name":"Minnesota
        Frost","visiting_division":"PWHL","goals":"0","ice_time_minutes_seconds":"21:07","hits":"2","shots_blocked_by_player":"0","plusminus":"-2","assists":"2","shootout_goals":"0","shootout_attempts":"0","shootout_goals_win":"0","shootout_shots":"0","penalty_minutes":"0.00","shooting_percentage":0,"shootout_shots_percentage":0,"points":2,"player_team":"3","plus_minus":"-2","power_play_goals":"0","short_handed_goals":"0","empty_net_goals":"0","insurange_goals":"0","game_winning_goals":"0","first_goals_scored":"0","game_tieing_goals":"0","faceoffs_taken":"17","faceoffs_won":"6"},{"gMonth":"May","id":"341","home_team":"3","visiting_team":"2","date_played":"2026-05-05","home":"1","shots":"8","goalie":"0","home_team_code":"MTL","home_team_name":"Montr\u00e9al
        Victoire","home_division":"PWHL","visiting_team_code":"MIN","visiting_team_name":"Minnesota
        Frost","visiting_division":"PWHL","goals":"1","ice_time_minutes_seconds":"33:48","hits":"3","shots_blocked_by_player":"1","plusminus":"1","assists":"0","shootout_goals":"0","shootout_attempts":"0","shootout_goals_win":"0","shootout_shots":"0","penalty_minutes":"0.00","shooting_percentage":"0.00","shootout_shots_percentage":0,"points":1,"player_team":"3","plus_minus":"1","power_play_goals":"0","short_handed_goals":"0","empty_net_goals":"0","insurange_goals":"0","game_winning_goals":"1","first_goals_scored":"1","game_tieing_goals":"0","faceoffs_taken":"31","faceoffs_won":"16"}]},"Copyright":{"required_copyright":"Official
        statistics provided by Professional Women''s Hockey League","required_link":"http:\/\/leaguestat.com","powered_by":"Powered
        by HockeyTech.com","powered_by_url":"http:\/\/hockeytech.com"}}}'
  recorded_at: Wed, 06 May 2026 09:21:01 GMT
[...]
