---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?client_code=pwhl&feed=gc&game_id=286&key=446521baf8c38984&lang=eng&site_id=0&tab=gamesummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GC":{"Parameters":{"client_code":"pwhl","feed":"gc","game_id":"286","key":"446521baf8c38984","lang":"eng","site_id":"0","tab":"gamesummary","lang_code":"en","lang_id":1,"fmt":"json"},"Gamesummary":{"meta":{"id":"286","season_id":"8","league_id":"1","home_team":"3","visiting_team":"1","game_number":"77","game_letter":"","type_id":"","if_necessary":"0","quick_score":"0","mvp1":"12","mvp2":"42","mvp3":"243","featured_player_id":"","date_played":"2026-03-15","schedule_time":"13:00:00","timezone":"Canada\/Eastern","start_time":"13:11:00","end_time":"15:49:00","forfeit":"0","shootout":"0","shootout_first_shooter_home":"0","attendance":"10172","location":"8","home_coach":"","home_assistant_coach1":"","home_assistant_coach2":"","home_manager":"","visiting_coach":"","visiting_assistant_coach1":"","visiting_assistant_coach2":"","visiting_manager":"","period":"4","game_clock":"00:03:27","status":"4","started":"1","game_length":"","pending_final":"0","final":"1","home_goal_count":"3","visiting_goal_count":"4","home_goals_actual":"0","public_notes":"","private_notes":"","league_game_notes":"","visiting_team_notes":"","home_team_notes":"","capacity":"","schedule_notes":"","schedule_notes_fr":"","home_audio_url":"","home_video_url":"https:\/\/www.thepwhl.com\/en\/where-to-watch","home_webcast_url":"https:\/\/www.thepwhl.com\/en\/where-to-watch","home_audio_url_fr":"","home_video_url_fr":"https:\/\/www.thepwhl.com\/en\/where-to-watch","home_webcast_url_fr":"","visiting_webcast_url":"https:\/\/www.thepwhl.com\/en\/where-to-watch","visiting_video_url":"https:\/\/www.thepwhl.com\/en\/where-to-watch","visiting_audio_url":"","visiting_webcast_url_fr":"","visiting_video_url_fr":"https:\/\/www.thepwhl.com\/en\/where-to-watch","visiting_audio_url_fr":"","tickets_url":"https:\/\/www.ticketmaster.ca\/montreal-victoire-vs-boston-fleet-laval-quebec-03-15-2026\/event\/31006348F443942D?CAMEFROM=CFC_PWHL_WEB_VICTOIRE_SCHEDULE","tickets_url_fr":"https:\/\/www.ticketmaster.ca\/montreal-victoire-vs-boston-fleet-laval-quebec-03-15-2026\/event\/31006348F443942D?CAMEFROM=CFC_PWHL_WEB_VICTOIRE_SCHEDULE&language=fr-ca","last_modified":"2026-03-15
        20:16:21","watch_now_url":"","watch_now_droid_url":"","visiting_goals_actual":"0","htv_game_id":"","imported_id":"","created":"2026-03-23
        17:03:02","flo_core_event_id":"","flo_live_event_id":"","tournament_id":"","start_time_without_seconds":"13:11","end_time_without_seconds":"15:49","12_hour_start_time_without_seconds":"1:11
        pm","12_hour_end_time_without_seconds":"3:49 pm","length":"2:38","timezone_short":"EDT"},"txt_title":"GAME
        SUMMARY","txt_scoring":"Scoring","txt_total":"Total","txt_shots":"Shots","game_ident":"77","game_date":"Sunday,
        March 15, 2026","game_length":"2:38","status_title":"End","status_value":"Final
        OT1","periods":{"1":{"id":"1","short_name":"1","long_name":"1st","sort_order":"1","period_id":"1","length":"1200","mandatory":"1"},"2":{"id":"2","short_name":"2","long_name":"2nd","sort_order":"2","period_id":"2","length":"1200","mandatory":"1"},"3":{"id":"3","short_name":"3","long_name":"3rd","sort_order":"3","period_id":"3","length":"1200","mandatory":"1"},"4":{"id":"4","short_name":"OT1","long_name":"1st
        OT","sort_order":"4","period_id":"4","length":"300","mandatory":"0"}},"shootout":"0","visitor":{"id":"1","league_id":"1","code":"BOS","team_code":"BOS","address1":"","address2":"","province":"","postal":"","country":"USA","phone":"","fax":"","active":"1","placeholder":"0","team_id":"1","lang_id":"1","season_id":"8","name":"Boston
        Fleet","city":"Boston","nickname":"Fleet","logo_caption":""},"home":{"id":"3","league_id":"1","code":"MTL","team_code":"MTL","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"3","lang_id":"1","season_id":"8","name":"Montr\u00e9al
        Victoire","city":"Montr\u00e9al","nickname":"Victoire","logo_caption":""},"visitor_division":"PWHL","visitor_division_id":"1","home_division":"PWHL","home_division_id":"1","mvp_type":1,"shootoutDetail":[],"mvps":[{"player_id":"12","first_name":"Megan","last_name":"Keller","jersey_number":"5","home":0},{"player_id":"42","first_name":"Abby","last_name":"Roque","jersey_number":"11","home":1},{"player_id":"243","first_name":"Ella","last_name":"Huber","jersey_number":"26","home":0}],"venue":"Place
        Bell | Laval","referee1":"Amy Martin (31)","referee2":"Jenn Berezowski (4)","linesman1":"Stephanie
        Gagnon (76)","linesman2":"TJ Dockery (70)","officialsOnIce":[{"official_type_id":"1","description":"Referee
        1","first_name":"Amy","last_name":"Martin","jersey_number":"31","person_id":"240"},{"official_type_id":"2","description":"Referee
        2","first_name":"Jenn","last_name":"Berezowski","jersey_number":"4","person_id":"225"},{"official_type_id":"3","description":"Linesperson
        1","first_name":"Stephanie","last_name":"Gagnon","jersey_number":"76","person_id":"256"},{"official_type_id":"4","description":"Linesperson
        2","first_name":"TJ","last_name":"Dockery","jersey_number":"70","person_id":"254"}],"officialsOffIce":[],"homeShootout":0,"visitorShootout":0,"benchGoalCount":null,"penalties":[{"event":"penalty","time_off_formatted":"14:10","team_id":"1","home":"0","period_id":"1","period":"1st","offence":"35","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Tripping","s":850,"player_penalized_info":{"player_id":"232","jersey_number":"53","team_id":"1","team_code":"BOS","first_name":"Rylind","last_name":"MacKinnon"},"player_served_info":{"player_id":"232","jersey_number":"53","team_id":"1","team_code":"BOS","first_name":"Rylind","last_name":"MacKinnon"}},{"event":"penalty","time_off_formatted":"16:18","team_id":"1","home":"0","period_id":"1","period":"1st","offence":"94","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Illegal
        Body Checking","s":978,"player_penalized_info":{"player_id":"1","jersey_number":"20","team_[...]
