---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?client_code=pwhl&feed=gc&game_id=275&key=446521baf8c38984&lang=eng&site_id=0&tab=gamesummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GC":{"Parameters":{"feed":"gc","tab":"gamesummary","game_id":"275","key":"446521baf8c38984","client_code":"pwhl","fmt":"json"},"Gamesummary":{"meta":{"id":"275","season_id":"8","league_id":"1","home_team":"9","visiting_team":"6","game_number":"66","game_letter":"","type_id":"","if_necessary":"0","quick_score":"0","mvp1":"","mvp2":"","mvp3":"","featured_player_id":"","date_played":"2026-03-01","schedule_time":"16:00:00","timezone":"Canada/Eastern","start_time":"13:12:00","end_time":"","forfeit":"0","shootout":"0","shootout_first_shooter_home":"0","attendance":"","location":"30","home_coach":"","home_assistant_coach1":"","home_assistant_coach2":"","home_manager":"","visiting_coach":"","visiting_assistant_coach1":"","visiting_assistant_coach2":"","visiting_manager":"","period":"3","game_clock":"00:10:53","status":"2","started":"1","game_length":"","pending_final":"0","final":"0","home_goal_count":"1","visiting_goal_count":"2","public_notes":"","private_notes":"","league_game_notes":"","visiting_team_notes":"","home_team_notes":"","capacity":"","schedule_notes":"","schedule_notes_fr":"","home_audio_url":"","home_video_url":"https://www.thepwhl.com/en/where-to-watch","home_webcast_url":"","home_audio_url_fr":"","home_video_url_fr":"https://www.thepwhl.com/en/where-to-watch","home_webcast_url_fr":"","visiting_webcast_url":"","visiting_video_url":"https://www.thepwhl.com/en/where-to-watch","visiting_audio_url":"","visiting_webcast_url_fr":"","visiting_video_url_fr":"https://www.thepwhl.com/en/where-to-watch","visiting_audio_url_fr":"","tickets_url":"https://ticketleader.evenue.net/event/PWHL25/0301TO?RSRC=WEB&RDAT=SCHEDULE","tickets_url_fr":"","last_modified":"2026-03-01 23:10:50","watch_now_url":"","watch_now_droid_url":"","home_goals_actual":"0","visiting_goals_actual":"0","htv_game_id":"","imported_id":"","flo_core_event_id":"","flo_live_event_id":"","tournament_id":"","start_time_without_seconds":"13:12","end_time_without_seconds":"","12_hour_start_time_without_seconds":"1:12 pm","12_hour_end_time_without_seconds":"","length":"","timezone_short":"EST"},"txt_title":"GAME SUMMARY","txt_scoring":"Scoring","txt_total":"Total","txt_shots":"Shots","game_ident":"66","game_date":"Sunday, March  1, 2026","game_length":"","status_title":"Game Status","status_value":"In Progress (10:53 remaining in 3rd)","periods":{"1":{"id":"1","short_name":"1","long_name":"1st","sort_order":"1","period_id":"1","length":"1200","mandatory":"1"},"2":{"id":"2","short_name":"2","long_name":"2nd","sort_order":"2","period_id":"2","length":"1200","mandatory":"1"},"3":{"id":"3","short_name":"3","long_name":"3rd","sort_order":"3","period_id":"3","length":"1200","mandatory":"1"}},"shootout":"0","visitor":{"id":"6","league_id":"1","code":"TOR","team_code":"TOR","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"6","lang_id":"1","season_id":"8","name":"Toronto Sceptres","city":"Toronto","nickname":"Sceptres","logo_caption":""},"home":{"id":"9","league_id":"1","code":"VAN","team_code":"VAN","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"9","lang_id":"1","season_id":"8","name":"Vancouver Goldeneyes","city":"Vancouver","nickname":"Goldeneyes","logo_caption":""},"visitor_division":"PWHL","visitor_division_id":"1","home_division":"PWHL","home_division_id":"1","mvp_type":1,"shootoutDetail":[],"mvps":[null,null,null],"venue":"Pacific Coliseum | Vancouver","referee1":"Laura Schmidlein (23)","referee2":"Jack Hennigan (44)","linesman1":"Matthew Williams (61)","linesman2":"Chase Eising (87)","officialsOnIce":[{"official_type_id":"1","description":"Referee 1","first_name":"Laura","last_name":"Schmidlein","jersey_number":"23","person_id":"279"},{"official_type_id":"2","description":"Referee 2","first_name":"Jack","last_name":"Hennigan","jersey_number":"44","person_id":"233"},{"official_type_id":"3","description":"Linesperson 1","first_name":"Matthew","last_name":"Williams","jersey_number":"61","person_id":"580"},{"official_type_id":"4","description":"Linesperson 2","first_name":"Chase","last_name":"Eising","jersey_number":"87","person_id":"584"}],"officialsOffIce":[],"homeShootout":0,"visitorShootout":0,"benchGoalCount":null,"penalties":[{"event":"penalty","time_off_formatted":"4:45","team_id":"9","home":"1","period_id":"1","period":"1st","offence":"16","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Holding","s":285,"player_penalized_info":{"player_id":"75","jersey_number":"20","team_id":"9","team_code":"VAN","first_name":"Sarah","last_name":"Nurse"},"player_served_info":{"player_id":"75","jersey_number":"20","team_id":"9","team_code":"VAN","first_name":"Sarah","last_name":"Nurse"}},{"event":"penalty","time_off_formatted":"4:21","team_id":"6","home":"0","period_id":"2","period":"2nd","offence":"31","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Slashing","s":261,"player_penalized_info":{"player_id":"100","jersey_number":"24","team_id":"6","team_code":"TOR",[...]
