---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?client_code=pwhl&feed=gc&game_id=338&key=446521baf8c38984&lang=eng&site_id=0&tab=gamesummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"GC":{"Parameters":{"feed":"gc","tab":"gamesummary","game_id":"338","key":"446521baf8c38984","client_code":"pwhl","fmt":"json"},"Gamesummary":{"meta":{"id":"338","season_id":"9","league_id":"1","home_team":"1","visiting_team":"5","game_number":"1","game_letter":"A","type_id":"","if_necessary":"0","quick_score":"0","mvp1":"","mvp2":"","mvp3":"","featured_player_id":"","date_played":"2026-04-30","schedule_time":"19:00:00","timezone":"Canada/Eastern","start_time":"19:10:00","end_time":"","forfeit":"0","shootout":"0","shootout_first_shooter_home":"0","attendance":"","location":"3","home_coach":"","home_assistant_coach1":"","home_assistant_coach2":"","home_manager":"","visiting_coach":"","visiting_assistant_coach1":"","visiting_assistant_coach2":"","visiting_manager":"","period":"1","game_clock":"00:00:00","status":"2","started":"1","game_length":"","pending_final":"0","final":"0","home_goal_count":"0","visiting_goal_count":"1","home_goals_actual":"0","public_notes":"","private_notes":"","league_game_notes":"","visiting_team_notes":"","home_team_notes":"","capacity":"","schedule_notes":"","schedule_notes_fr":"","home_audio_url":"","home_video_url":"","home_webcast_url":"","home_audio_url_fr":"","home_video_url_fr":"","home_webcast_url_fr":"","visiting_webcast_url":"","visiting_video_url":"","visiting_audio_url":"","visiting_webcast_url_fr":"","visiting_video_url_fr":"","visiting_audio_url_fr":"","tickets_url":"https://tsongascenter.evenue.net/events/PWHLIG","tickets_url_fr":"https://tsongascenter.evenue.net/events/PWHLIG","last_modified":"2026-04-30 23:50:17","watch_now_url":"","watch_now_droid_url":"","visiting_goals_actual":"0","htv_game_id":"","imported_id":"","created":"2026-04-24 19:09:07","flo_core_event_id":"","flo_live_event_id":"","tournament_id":"","start_time_without_seconds":"19:10","end_time_without_seconds":"","12_hour_start_time_without_seconds":"7:10 pm","12_hour_end_time_without_seconds":"","length":"","timezone_short":"EDT"},"txt_title":"GAME SUMMARY","txt_scoring":"Scoring","txt_total":"Total","txt_shots":"Shots","game_ident":"A-1","game_date":"Thursday, April 30, 2026","game_length":"","status_title":"Game Status","status_value":"In Progress (0:00 remaining in 1st)","periods":{"1":{"id":"1","short_name":"1","long_name":"1st","sort_order":"1","period_id":"1","length":"1200","mandatory":"1"}},"shootout":"0","visitor":{"id":"5","league_id":"1","code":"OTT","team_code":"OTT","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"5","lang_id":"1","season_id":"9","name":"Ottawa Charge","city":"Ottawa","nickname":"Charge","logo_caption":""},"home":{"id":"1","league_id":"1","code":"BOS","team_code":"BOS","address1":"","address2":"","province":"","postal":"","country":"USA","phone":"","fax":"","active":"1","placeholder":"0","team_id":"1","lang_id":"1","season_id":"9","name":"Boston Fleet","city":"Boston","nickname":"Fleet","logo_caption":""},"visitor_division":"PWHL","visitor_division_id":"1","home_division":"PWHL","home_division_id":"1","mvp_type":1,"shootoutDetail":[],"mvps":[null,null,null],"venue":"Tsongas Center | Lowell","referee1":"David Elford (11)","referee2":"Grace Barlow (22)","linesman1":"Laura Gutauskas (68)","linesman2":"Patrick Dapuzzo (77)","officialsOnIce":[{"official_type_id":"1","description":"Referee 1","first_name":"David","last_name":"Elford","jersey_number":"11","person_id":"231"},{"official_type_id":"2","description":"Referee 2","first_name":"Grace","last_name":"Barlow","jersey_number":"22","person_id":"222"},{"official_type_id":"3","description":"Linesperson 1","first_name":"Laura","last_name":"Gutauskas","jersey_number":"68","person_id":"272"},{"official_type_id":"4","description":"Linesperson 2","first_name":"Patrick","last_name":"Dapuzzo","jersey_number":"77","person_id":"253"}],"officialsOffIce":[],"homeShootout":0,"visitorShootout":0,"benchGoalCount":null,"penalties":[{"event":"penalty","time_off_formatted":"6:02","team_id":"1","home":"1","period_id":"1","period":"1st","offence":"16","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Holding","s":362,"player_penalized_info":{"player_id":"255","jersey_number":"16","team_id":"1","team_code":"BOS","first_name":"Riley","last_name":"Brengman"},"player_served_info":{"player_id":"255","jersey_number":"16","team_id":"1","team_code":"BOS","first_name":"Riley","last_name":"Brengman"}},{"event":"penalty","time_off_formatted":"8:43","team_id":"5","home":"0","period_id":"1","period":"1st","offence":"94","pp":"1","bench":"0","penalty_shot":"0","minutes":2,"minutes_formatted":"2:00","penalty_class_id":"1","penalty_class":"Minor","lang_penalty_description":"Illegal Body Checking","s":523,"player_penalized_info":{"player_id":"53","jersey_number":"26","team_id":"5","t[...]
