---
http_interactions:
- request:
    method: get
    uri: https://lscluster.hockeytech.com/feed/index.php?client_code=pwhl&feed=gc&game_id=343&key=446521baf8c38984&lang=eng&site_id=0&tab=gamesummary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"GC":{"Parameters":{"client_code":"pwhl","feed":"gc","game_id":"343","key":"446521baf8c38984","lang":"eng","site_id":"0","tab":"gamesummary","lang_code":"en","lang_id":1,"fmt":"json"},"Gamesummary":{"meta":{"id":"343","season_id":"9","league_id":"1","home_team":"5","visiting_team":"1","game_number":"5","game_letter":"A","type_id":"","if_necessary":"0","quick_score":"0","mvp1":"","mvp2":"","mvp3":"","featured_player_id":"","date_played":"2026-05-08","schedule_time":"19:00:00","timezone":"Canada\/Eastern","start_time":"","end_time":"","forfeit":"0","shootout":"0","shootout_first_shooter_home":"0","attendance":"","location":"20","home_coach":"","home_assistant_coach1":"","home_assistant_coach2":"","home_manager":"","visiting_coach":"","visiting_assistant_coach1":"","visiting_assistant_coach2":"","visiting_manager":"","period":"1","game_clock":"00:00:00","status":"1","started":"0","game_length":"","pending_final":"0","final":"0","home_goal_count":"0","visiting_goal_count":"0","home_goals_actual":"0","public_notes":"","private_notes":"","league_game_notes":"","visiting_team_notes":"","home_team_notes":"","capacity":"","schedule_notes":"","schedule_notes_fr":"","home_audio_url":"","home_video_url":"","home_webcast_url":"","home_audio_url_fr":"","home_video_url_fr":"","home_webcast_url_fr":"","visiting_webcast_url":"","visiting_video_url":"","visiting_audio_url":"","visiting_webcast_url_fr":"","visiting_video_url_fr":"","visiting_audio_url_fr":"","tickets_url":"https:\/\/www.thepwhl.com\/en\/teams\/ottawa-charge\/playoff-tickets","tickets_url_fr":"https:\/\/www.thepwhl.com\/en\/teams\/ottawa-charge\/playoff-tickets","last_modified":"2026-04-29
        20:20:31","watch_now_url":"","watch_now_droid_url":"","visiting_goals_actual":"0","htv_game_id":"","imported_id":"","created":"2026-04-29
        20:14:27","flo_core_event_id":"","flo_live_event_id":"","tournament_id":"","start_time_without_seconds":"","end_time_without_seconds":"","12_hour_start_time_without_seconds":"","12_hour_end_time_without_seconds":"","length":"","timezone_short":"EDT"},"txt_title":"GAME
        SUMMARY","txt_scoring":"Scoring","txt_total":"Total","txt_shots":"Shots","game_ident":"A-5","game_date":"Friday,
        May  8, 2026","game_length":"","status_title":"Game Status","status_value":"
        7:00 PM","periods":{"1":{"id":"1","short_name":"1","long_name":"1st","sort_order":"1","period_id":"1","length":"1200","mandatory":"1"}},"shootout":"0","visitor":{"id":"1","league_id":"1","code":"BOS","team_code":"BOS","address1":"","address2":"","province":"","postal":"","country":"USA","phone":"","fax":"","active":"1","placeholder":"0","team_id":"1","lang_id":"1","season_id":"9","name":"Boston
        Fleet","city":"Boston","nickname":"Fleet","logo_caption":""},"home":{"id":"5","league_id":"1","code":"OTT","team_code":"OTT","address1":"","address2":"","province":"","postal":"","country":"CAN","phone":"","fax":"","active":"1","placeholder":"0","team_id":"5","lang_id":"1","season_id":"9","name":"Ottawa
        Charge","city":"Ottawa","nickname":"Charge","logo_caption":""},"visitor_division":"PWHL","visitor_division_id":"1","home_division":"PWHL","home_division_id":"1","mvp_type":1,"shootoutDetail":[],"mvps":[null,null,null],"venue":"Canadian
        Tire Centre | Ottawa","referee1":"","referee2":"","linesman1":"","linesman2":"","officialsOnIce":[],"officialsOffIce":[],"homeShootout":0,"visitorShootout":0,"benchGoalCount":null,"penalties":null,"goals":null,"goalies":null,"home_team_lineup":[],"visitor_team_lineup":[],"game_date_iso_8601":"2026-05-08T19:00:00-04:00","coaches":{"visitor":[],"home":[]},"pimBench":{"visitor":0,"home":0},"powerPlayGoals":{"visitor":0,"home":0},"powerPlayCount":{"visitor":0,"home":0},"goalCount":{"visitor":0,"home":0},"assistCount":{"visitor":0,"home":0},"pointsCount":{"visitor":0,"home":0},"pimTotal":{"visitor":0,"home":0},"infCount":{"visitor":0,"home":0},"shotsByPeriod":{"visitor":{"1":0},"home":{"1":0}},"penaltyshots":{"visitor":[],"home":[]},"totalFaceoffs":{"visitor":{"att":0,"won":0},"home":{"att":0,"won":0}},"totalHits":{"visitor":0,"home":0},"totalGoals":{"visitor":0,"home":0},"totalShots":{"visitor":0,"home":0},"totalShotsOn":{"visitor":0,"home":0},"goalsByPeriod":{"visitor":{"1":0},"home":{"1":0}}}}}'
  recorded_at: Wed, 06 May 2026 07:48:08 GMT
recorded_with: VCR 6.4.0
